.navbar-fixed-top { 
    background-image: none;
    background-color: #292c2f;
  

}

.sidebar-left a.company-logo {
	display: block;
	text-decoration: none;
	font-family: Cookie, cursive;
	width: 85px;
	height: 85px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color:  #ffffff;
	font-size: 19px;
	font-weight: normal;
	line-height: 2.6;
	border-radius: 50%;
	background-color: black;
}



.button-right {
	float:right;
}

.footer{
	height:1px;
}

h, h1, h2, h3, h4{
    color:white;
}
body {
    background-color: lightblue;
}

.carousel{
left: 100px;  
top:100px;

}

.glyphicon.glyphicon-user.custom {
    font-size: 35px;
}