/*#remoteVideo */
/*{*/
/*	position: absolute;*/
/*	margin-top:20px;*/
/*	margin-left:px;*/
/*	width:200px;*/
/*	height: 200px;*/
/*	background-color:black;*/

/*}*/

/*#localVideo */
/*{*/
/*	position: absolute;*/
/*	width:100px;*/
/*	height: 100px;*/
/*	background-color:black;*/
/*	margin-left:800px;*/
/*}*/
/*#callButton*/
/*{*/
/*	position: absolute;*/
/*	margin-left:700px;*/
/*	margin-bottom: 100px;*/
	
/*}*/

/*#endCallButton*/
/*{*/
/*	position: absolute;*/
/*	margin-left:750px;*/
	
/*}*/

.media > #remoteVideo {
	background-color: black;
		position: relative;
	margin-top:50px;
	width:680px;
	height:400px;
	margin-left:150px;
}

.media > #localVideo {
	background-color: black;
		position: absolute;
	margin-top:100px;
	width:400px;
	height:200px;
	margin-left: 15px;
}

#callButton, #endCallButton {
	display:inline-block;
}

/*.media > #callButton {*/
/*		position: absolute;*/
/*	margin-top:300px;*/
/*	margin-left: 25px;*/

/*}*/





tr {
width: 50%;
/*display: inline-table;*/
/*height:60px;                // <-- the rows height */
}

table{
 /*height:300px;              // <-- Select the height of the table*/
 /*display: -moz-groupbox;    // For firefox bad effect*/
 background-color: white;
 
}
thead
{
	  overflow-y: scroll;      
  /*height: 200px;            //  <-- Select the height of the body*/
  width: 50%;
  /*position: absolute;*/
}
tbody{
  overflow-y: scroll;      
  height: 200px;            //  <-- Select the height of the body
  width: 100%;
  /*position: absolute;*/
}

.navbar-fixed-top { 
    background-image: none;
    background-color: #292c2f;
  

}

#headingLogin{
	color:BLACK;
}

.sidebar-left a.company-logo {
	display: block;
	text-decoration: none;
	font-family: Cookie, cursive;
	width: 85px;
	height: 85px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	color:  #ffffff;
	font-size: 19px;
	font-weight: normal;
	line-height: 2.6;
	border-radius: 50%;
	background-color: black;
}



.button-right {
	float:right;
}

.footer{
	height:1px;
}

h, h1, h2, h3, h4{
    color:white;
}
body {
    background-color: lightblue;
}

.carousel{
left: 100px;  
top:100px;

}

.glyphicon.glyphicon-user.custom {
    font-size: 35px;
}