


<div>
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
              <div class="container" ng-model="username">
                   <h3>Signed in as,<span class="label label-info">{{username}}</span></h3>
                  <div class="button-right">
                   
                    
                    <a href="#/mainPageLayout" class="btn btn-info" role="button">Log out</a>
                    </div>
              </div>
              
        </nav>
        
        <div class="col-sm-4 col-sm-offset-1">      
<div class="container">
  
  </br>
  </br>
  </br>
  



   <div class="col-lg-6 col-md-offset-6">
    <div class="input-group">
      <input type="text" ng-model="searchBox" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add Contact</button>
          <div class="list-group" ng-repeat="user in listOfUsers | filter: searchBox">
  <button type="button" class="list-group-item" >{{ user.username }}</button>

</div>
      </span>
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

<!--  <table class="table table-hover">-->
<!--   <thead>-->
<!--      <tr>-->
<!--        <th>Username</th>-->
<!--        <th>Firstname</th>-->
<!--        <th>Lastname</th>-->
<!--        <th>Email</th>-->
<!--      </tr>-->
<!--   </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>username</td>-->
<!--        <td>John</td>-->
<!--        <td>Doe</td>-->
<!--        <td>john@example.com</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Mary</td>-->
<!--        <td>Moe</td>-->
<!--        <td>mary@example.com</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>July</td>-->
<!--        <td>Dooley</td>-->
<!--        <td>july@example.com</td>-->
<!--      </tr>-->
<!--  </tbody>-->
<!--  </table>-->
<!--</div>-->
<!--</div>-->
        <div class="container">
        <aside class="sidebar-left">

		<a class="company-logo" href="#">ChitChat
		  <span img src="data:image/jpeg;base64," aria-hidden="true"></span>
		</a>
		
		<div class="sidebar-links">
			<a href="#" class="btn btn-info" role="button">Home</a>
			<a href="#/edit_profile" class="btn btn-info" role="button">Edit Profile</a>
			<a href="#/contacts" class="btn btn-info" role="button">Contacts</a>
			<a href="#" class="btn btn-info" role="button">Chat</a>
		</div>
	</aside>

	</div>
	        

	        
	        
	        <nav class="navbar navbar-inverse navbar-fixed-bottom footer">
          <div class="container-fluid">
            <div class="navbar-header">
                  <p class="navbar-brand" >&copy 2016 ChitChat All Rights Reserved | Designed by Laila Shaikh and Nicholas Sebenaler</p>
            </div>
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </nav>
		<script>

		$(function () {

			var links = $('.sidebar-links > a');

			links.on('click', function () {

				links.removeClass('selected');
				$(this).addClass('selected');

			});
		});
		</script>
</div>