        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
              <div class="container">
                   <h>Welcome!</h>
                  <div class="button-right">
                   
                    
                    <a href="#/login" class="btn btn-info" role="button">Login</a>
                    </div>
              </div>
        </nav>


<div class="container">
    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">
                        SIGN UP</h5>
                    <form ng-submit="RegistrationCheck(UsernameR,FirstnameR,LastnameR,EmailR,PasswordR)" class="form form-signup" role="form" data-toggle="validator">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="UsernameR" class="form-control" placeholder="Username" name="username" required/>
                        </div>
                    </div>
                    
                    <div class="form-group" required>
                        <div class="input-group" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="FirstnameR" class="form-control" placeholder="First Name" name = "firstname" required/>
                        </div>
                    </div>
                        
                    <div class="form-group">
                         <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" ng-model="LastnameR" class="form-control" placeholder="Last Name" name="lastname" required/>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <!--<label for="inputEmail" class="control-label">Email</label>-->
                            <input type="email" ng-model="EmailR" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" name='email' required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" ng-model="PasswordR" class="form-control" placeholder="Password" name = "password" id="FirstPassword" required/>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" data-match="#FirstPassword" class="form-control" placeholder="Confirm Password" name = "confirmPassword" required/>
                        </div>
                    </div>
                
                
                  </div>
                <input type="submit" class="btn btn-sm btn-primary btn-block" value = "SUBMIT" role="button">
                    </input> 
                    
            </form>
            </div>
        </div>
    </div>
</div>
</div> 

      <div class="container">
        <aside class="sidebar-left">

		<a class="company-logo" href="#/mainPageLayout">ChitChat
		  <span class="glyphicon glyphicon-user custom" aria-hidden="true"></span>
		</a>
		
		<div class="sidebar-links">
			<a href="#/mainPageLayout" class="btn btn-info" role="button">Home</a>
			<a href="#/registration" class="btn btn-info" role="button">Register</a>
			<a href="#" class="btn btn-info" role="button">Login</a>
			<a href="#" class="btn btn-info" role="button">Login</a>
		</div>
	</aside>

	</div>
	        <nav class="navbar navbar-inverse navbar-fixed-bottom footer">
          <div class="container-fluid">
            <div class="navbar-header">
                  <p class="navbar-brand" >&copy 2016 ChitChat All Rights Reserved | Designed by Laila Shaikh and Nicholas Sebenaler</p>
            </div>
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </nav>
		<script>

		$(function () {

			var links = $('.sidebar-links > a');

			links.on('click', function () {

				links.removeClass('selected');
				$(this).addClass('selected');

			});
		});
		</script>