<!doctype html>
<html ng-app="chitChatApp">
    <head>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-animate.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-touch.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-route.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-cookies.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
        <link rel="stylesheet" href="static/assets/sidebar-left.css">
                <link rel="stylesheet" href="static/stylesheets/styles.css">
    <link rel="stylesheet" href="static/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
        <script src="static/js/socket.io.js"></script>
        <script src="static/js/socket.js"></script>
        <script src="static/js/controller.js"></script>
        <!--For webRTC-->
        <script src="static/js/adapter.js"></script>
        
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/stylesheets.css">
        <link rel="stylesheet" href="static/css/signin.css">
        <link rel="stylesheet" href="static/css/register.css">

        <!--<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>-->
        <!--<script src="http://cdn.peerjs.com/0.3/peer.js"></script>-->
        <script src="static/js/peer.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        
        

        <script src="static/js/bootstrap.min.js"></script>
            <!--<script src="//www.WebRTC-Experiment.com/RecordRTC.js"></script>-->

    </head>

    <body>
    <div ng-view>
    </div>

    </body>
</html>