<!doctype html>
<html>
    <head>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
        <script src="//code.angularjs.org/1.5.0-rc.2/angular.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-animate.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-touch.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-route.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.2/angular-cookies.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
        <link rel="stylesheet" href="assets/sidebar-left.css">
        <script src="js/controller.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
         <link rel="stylesheet" href="css/stylesheets.css">
         
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="js/bootstrap.min.js"></script>
    </head>
    
    <body>
        
       
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
              <div class="container">
                   <h>Welcome!</h>
                  <div class="button-right">
                   
                    
                    <button type="button" class="btn btn-default navbar-btn">Login</button>
                    </div>
              </div>
        </nav>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
 
  <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
              <img src="img/videoChat1.jpg" alt="...">
              <div class="carousel-caption">
              <h3>Caption Text</h3>
              </div>
            </div>
    
            <div class="item">
                <img src="img/globalConnection.jpg" alt="...">
                <div class="carousel-caption">
                <h3>Caption Text</h3>
                </div>
            </div>
    
            <div class="item">
              <img src="http://placehold.it/1200x315" alt="...">
              <div class="carousel-caption">
              <h3>Caption Text</h3>
              </div>
            </div>
        </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
        
        <nav class="navbar navbar-inverse navbar-fixed-bottom footer">
          <div class="container-fluid">
            <div class="navbar-header">
                  <p class="navbar-brand" >&copy 2016 ChitChat All Rights Reserved | Designed by Laila Shaikh and Nicholas Sebenaler</p>
            </div>
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </nav>
        
        <div class="container">
        <aside class="sidebar-left">

		<a class="company-logo" href="#">ChitChat</a>
		
		<div class="sidebar-links">
			<a class="link-green" href="#"><i class="fa fa-picture-o"></i>Photography</a>
			<a class="link-green" href="#"><i class="fa fa-heart-o"></i>Favorites</a>
			<a class="link-green " href="#"><i class="fa fa-keyboard-o"></i>Projects</a>
			<a class="link-green" href="#"><i class="fa fa-map-marker"></i>Places</a>
		</div>
	</aside>

	</div>
	
		<script>

		$(function () {

			var links = $('.sidebar-links > a');

			links.on('click', function () {

				links.removeClass('selected');
				$(this).addClass('selected');

			});
		});
		</script>
		<script>
        $('.carousel').carousel({
            interval: 3000
        });
	    </script>
	
    </body>
</html>