{% extends "layout.html" %}
{% block content %}
    <div class="container">
      </br>
      </br>
      </br>
      <div class="row">
         <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
     
                <form class="form-signin" method="POST" action="/login">
                    <h1 class="form-signin-heading" id="headingLogin">Please sign in</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" name="inputEmail" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="inputPassword"  required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                </div> <!-- /container -->
            </div>
        </div>
       </div>
    </div>
{% endblock %}