{% extends "layout.html" %}
{% block content %}
<div class="container">
    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">
                        SIGN UP</h5>
                    <form method="POST" action="/profile" class="form form-signup" role="form" data-toggle="validator">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Username" name="username" required/>
                        </div>
                    </div>
                    
                    <div class="form-group" required>
                        <div class="input-group" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="First Name" name = "firstname" required/>
                        </div>
                    </div>
                        
                    <div class="form-group">
                         <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" required/>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <!--<label for="inputEmail" class="control-label">Email</label>-->
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" name='email' required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" placeholder="Password" name = "password" id="FirstPassword" required/>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" data-match="#FirstPassword" class="form-control" placeholder="Confirm Password" name = "confirmPassword" required/>
                        </div>
                    </div>
                
                
                  </div>
                <input type="submit" class="btn btn-sm btn-primary btn-block" value = "SUBMIT" role="button">
                    </input> 
                    
            </form>
            </div>
        </div>
    </div>
</div>
</div> 
{% endblock %}